.admin {
  &-container {
    height: calc(100% - 64px);
    margin-top: 64px;
  }

  &-sidenav {
    overflow: visible;

    &-item {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 8px;

      .add-task-icon {
        width: 20px;
      }

      .mat-button {
        font-size: 16px;
      }

      &:not(.title-item) {
        margin: 10px 0;
        padding: 8px 28px;
        cursor: pointer;


        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .title-item {
      padding: 8px 15px;
      margin: 20px 13px;
  
      .mat-button {
        width: calc(200px - 24px);
        cursor: default;
        font-weight: 700;
      }
    }

    &-toggle {
      position: absolute;
      right: -12px;
      top: 2.7%;
    }

    .spacer {
      flex: 1;
    }
  }

  &-toolbar {
    position: fixed;
    z-index: 99;
  }

  &-title {
    width: 90%;
    margin: 0 5%;
    font-size: 20px;
    font-weight: 700;
  }

  &-content {
    height: 100%;
    padding-top: 64px;
  }
  
}