@use '@angular/material' as mat;

@mixin admin-theme($theme) {
  $primary: map-get($theme, primary);

  .admin {
    &-sidenav {
      box-shadow: 0px 0px 4px 0px rgba(mat.get-color-from-palette($primary, 500), 0.2);

      &-item {
        .mat-icon {
          color: mat.get-color-from-palette($primary, 300);
        }

        .mat-button-focus-overlay {
          background-color: transparent;
        }

        &:not(.title-item):hover {
          .mat-button {
            color: mat.get-color-from-palette($primary, 300);
          }
          &::before {
            background-color: mat.get-color-from-palette($primary, 300);
          }
        }
      }

      .title-item {
        background-color: mat.get-color-from-palette($primary, 50);

        .mat-button:active {
          background-color: transparent;
        }
      }

      .active-item,
      .title-item {
        .mat-icon {
          color: mat.get-color-from-palette($primary, 400);
        }
      }

      .active-item {
        .mat-button {
          color: mat.get-color-from-palette($primary, 400);
        }

        &::before {
          background-color: mat.get-color-from-palette($primary, 400);
        }
      }

      &-toggle {
        background-color: white;
      }

      &-content {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }

    &-toolbar {
      background-color: mat.get-color-from-palette($primary, 50);
      box-shadow: 0px 0px 4px 0px rgba(mat.get-color-from-palette($primary, 500), 0.2);
    }

    &-overview {
      &-user {
        .group {
          color: mat.get-color-from-palette($app-grey, 900);
        }
      }

      &.overview {
        .mat-progress-bar-background {
          background: transparent;
        }

        &-javascript {
          .mat-progress-bar-buffer {
            background-color: mat.get-color-from-palette($app-yellow, 200);
          }
          .mat-progress-bar-fill::after {
            background-color: mat.get-color-from-palette($app-yellow, 400);
          }
        }

        &-typescript {
          .mat-progress-bar-buffer {
            background-color: mat.get-color-from-palette($app-blue, 100);
          }
          .mat-progress-bar-fill::after {
            background-color: mat.get-color-from-palette($app-blue, 200);
          }
        }
      }
    }
  }
}
