.user-results-container {
  display: flex;
  margin: 24px 5%;
  column-gap: 16px;

  .empty-table-message {
    margin: auto;
  }

  .hidden-element {
    height: 0;
    opacity: 0;
  }

  .mat-expansion-panel {
    margin-bottom: 16px;
  }

  .groups-accordion {
    flex-grow: 1;
    min-width: 350px;
    max-width: 55%;
  }

  .users-table {
    width: 100%;

    .mat-column-details {
      width: 80px;
      text-align: center;
    }
  }

  .user-progress-container {
    flex-grow: 1;
    min-width: 350px;
    padding: 24px 36px;
    border-radius: 24px;

    .user-results-title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }

    .user-activity {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      text-align: right;
    }

    .username {
      min-height: 22px;
      font-size: 24px;
      font-weight: 700;
    }

    .activity-time {
      min-height: 22px;
      font-weight: 700;
    }

    .user-group {
      min-height: 22px;
    }

    .progress-bars-container {
      margin: 12px 0 25px;

      .progress-bars-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;
      }

      .progress-bars {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
      }

      .progress-bar {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 64px;
        border-radius: 16px;
      }

      .bar-title {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 99;
        font-weight: 700;
      }

      .progress-percents {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        font-weight: 700;
        font-size: 28px;
      }
    }

    .table-title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 700;
    }

    .results-table {
      width: 100%;

      .mat-column-mark {
        width: 80px;
        text-align: center;
      }
    }
  }
}
