<auth-base customClass="new-password">
  <h2 class="mat-title new-password-title">{{ 'RESET_PASSWORD_TITLE' | translate }}</h2>
  <form
    class="new-password-body"
    [formGroup]="passwordFormGroup"
    (ngSubmit)="onSave(); formGroupDirective.resetForm()"
    #formGroupDirective="ngForm">
    <mat-form-field appearance="outline">
      <mat-label> {{ 'NEW_PASSWORD' | translate }} </mat-label>
      <input
        [type]="hidePasswordStates.newPassword ? 'password' : 'text'"
        matInput
        formControlName="newPassword"
        autocomplete="off"
        name="wisNewPassword"
      />
      <mat-icon matSuffix color="primary" (click)="passwordShowHide('newPassword')">
        {{ hidePasswordStates.newPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="newPasswordControl.hasError('required')">
        {{ 'PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('minlength')">
        {{ 'PASSWORD_MINLENGTH' | translate : { value: minLengthPassword } }}
      </mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('mustMatch')">
        {{ 'DIFFERENT_PASSWORDS_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> {{ 'REPEAT_NEW_PASSWORD' | translate }} </mat-label>
      <input
        [type]="hidePasswordStates.confirmNewPassword ? 'password' : 'text'"
        matInput
        formControlName="repeatNewPassword"
        autocomplete="off"
        name="wisConfirmNewPassword"
      />
      <mat-icon matSuffix color="primary" (click)="passwordShowHide('confirmNewPassword')">
        {{ hidePasswordStates.confirmNewPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="repeatNewPasswordControl.hasError('required')">
        {{ 'PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="repeatNewPasswordControl.hasError('mustMatch')">
        {{ 'DIFFERENT_PASSWORDS_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="new-password-button"
      type="submit"
      [disabled]="passwordFormGroup.invalid">
      {{ 'SAVE_CHANGES' | translate }}
    </button>
  </form>
</auth-base>