.new-password {
  &-body {
    display: flex;
    flex-direction: column;
  }

  &-title {
    margin-bottom: 44px;
    font-size: 28px;
    font-weight: 700;
  }

  &-body {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      width: 100%;
    margin-bottom: 10px;
    }
  }

  &-button {
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
  }
}
