.profile-email {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
  margin: 24px 5%;

  .content {
    padding: 30px 60px 0;
  }


  .fields-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .custom-field {
      flex-grow: 1;
      padding-bottom: 20px;
    }
  }

  .actions {
    padding: 0 60px 20px;
  }

  &-button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
  }
}
